<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"><i class="icon-briefcase"></i>{{lang 'On Snow'}}</div>
        <div class="h_content">

            <div class="downloadPicker">
                FROM: <input type="date" id="start"> TO <input type="date" id="stop">
                <button>GO</button>
            </div>

            <div class="manage">
                <button class="addNew"><i class="icon-plus-sign-alt"></i>{{lang 'Add Record'}}</button>
                <button class="download"><i class="icon-download-alt" style="margin-right: 0"></i></button>
                <input style="margin-left: 0" class="filter" placeholder="{{lang 'Start typing to filter'}}">
            </div>

            <div class="table">
                <div class="row head">
                    <div class="item options"></div>
                    <div class="item Time">{{lang 'Time'}}</div>
                    <div class="item Name">{{lang 'Creator'}}</div>
                    <div class="item studentName">{{lang 'Student'}}</div>
                    <div class="item Notes">{{lang 'Notes'}}</div>
                </div>
                {{{table}}}
            </div>

            <div class='loadMoreContainer'>
                <button class="loadMore">{{lang 'Show More'}}</button>
            </div>

        </div>
    </div>
</div>