{{#each this}}

	<div class="row" data-id="{{id}}">
		<div class="item"> <i class="icon-remove"></i> <i class="icon-pencil"></i> <i class="icon-time"></i></div>
		<div class="item CSPSNum">{{CSPSNum}}</div>
		<div class="item InstID">{{InstID}}</div>
		<div class="item Name">{{Name}}</div>
		<div class="item Email">{{Email}}</div>
		<div class="item PhoneNum">{{PhoneNum}}</div>
	</div>

{{/each}}