<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"><i class="icon-briefcase"></i>{{lang 'On Snow'}}</div>
        <div class="h_content">

            <div class="manage">
                <button class="addNew"><i class="icon-plus-sign-alt"></i>{{lang 'Add Record'}}</button>
                <input class="filter" placeholder="{{lang 'Start typing to filter'}}">
            </div>

            <div class="table">
                <div class="row head">
                    <div class="item options"></div>
                    <div class="item Time">{{lang 'Time'}}</div>
                    <div class="item InstID">{{lang 'InstID'}}</div>
                    <div class="item SID">{{lang 'SID'}}</div>
                    <div class="item Notes">{{lang 'Notes'}}</div>
                </div>
                {{{table}}}
            </div>

            <div class='loadMoreContainer'>
                <button class="loadMore">{{lang 'Show More'}}</button>
            </div>

        </div>
    </div>
</div>