{{#each this}}

	<div class="row" data-id="{{FAID}}">
		<div class="item options"> <i class="icon-remove"></i> <i class="icon-pencil"></i></div>
		<div class="item Timestamp"> {{#onSnowRecordSubmitted Timestamp}} {{formatDate Timestamp}}  {{else}} <button class="submit">{{lang 'Submit'}}</button> {{/onSnowRecordSubmitted}}</div>
		<div class="item Name">{{Name}}</div>
		<div class="item studentName">{{studentName}}</div>
	</div>

{{/each}}