{{#each this}}

	<div class="row" data-id="{{id}}">
		<div class="item"> <i class="icon-remove"></i> </div>
		<div class="item">{{CSPSNum}}</div>
		<div class="item">{{Email}}</div>
		<div class="item">{{InstID}}</div>
		<div class="item">{{Name}}</div>
		<div class="item">{{PhoneNum}}</div>
	</div>

{{/each}}